@model UserDataModel


    <link href="~/css/Overall.css" rel="stylesheet" type="text/css" />
    <form asp-area="" asp-controller="Home" asp-action="Modify">
        <input asp-for="UserName" id="inv" value="@ViewData["name"]" />
        <br />

        <label asp-for="FirstName"></label>
        <input id="txtbox" asp-for="FirstName" />
        <br />
        <label asp-for="MiddleName"></label>
        <input id="txtbox"  asp-for="MiddleName" />
        <br />
        <label asp-for="LastName"></label>
        <input id="txtbox"  asp-for="LastName" />
        <br />
        <label asp-for="EGN"></label>
        <input id="txtbox"  asp-for="EGN" />
        <br />
        <label asp-for="Email"></label>
        <input id="txtbox"  asp-for="Email" />
        <br />
        <label asp-for="TelNumber"></label>
        <input id="txtbox"  asp-for="TelNumber" />
        <br />
        <label asp-for="Active"></label>
        <input id="txtbox"  asp-for="Active" />
        <br />
        <label asp-for="EndDate"></label>
        <input id="txtbox"  asp-for="EndDate" />
        <br />
        <button class="butn" type="submit">Submit</button>
    </form>